html{

overflow-y:hidden;
overflow-x:hidden;
}

body{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    text-align: center;
    background-size: cover;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 50px;
    height: 50px;
}

.base_sound{
    position: absolute;
    left: 1%;
    top: 1.3%;
    cursor: pointer;
}

h2{
    padding: 0;
    margin: 0;
    font-size: 80px;
    font-family: 'Barrio', cursive;
}

.keys{
    /* border: 2px solid; */
    display: inline-block;
    margin-top: 14%;  
}


.key{
    border: 2px solid #b6b6b6;
    float: left;
    margin-left: 12px;
    width: 100px;
    border-radius: 1px;
    box-shadow: 2px 5px 10px black;
    transition: all .07s ease;
}

.key:first-child{
    margin-left: 0px;
}

.sound{
    font-family: 'Roboto', sans-serif;
    color: #c79221;
    font-weight: 400;
    font-size: 14px;
    /* letter-spacing: .1rem; */
    text-transform: uppercase;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

footer{

    width: 100%;
    position: absolute;
    bottom: 1%;
    left: 0;

    /* background-color: rgb(163, 47, 47); */
    
}

p{
    text-transform: uppercase;
    text-align: left;
    font-weight: 300;
    margin-left: 1%;
    color:  #b6b6b6;

}

strong{
    color: #c79221;
}